@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*-------------- General ----------------------------*/
body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: 0.5fr 4.5fr / 1fr 4fr;
}

ul{
    list-style-type: none;
}

ul > li > a{
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-size: 1em;
    font-weight: 400;
}

img{
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/*------------- Navigation bar ---------------------*/

nav > *{
    margin-left: 20px;
}

nav{
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 50px;


    background-color: lightskyblue; /* à changer */
}

nav > ul > li > a{
    color: white;
}

nav > div{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

nav > div > svg{
    height: 35px;
    aspect-ratio: 1/1;
    fill: white;
}

nav > ul > li:not(:last-child){
    margin-bottom: 10px;
}

/*--------------- Header -------------------------*/
header > *{
   padding: 1.25em 2.5em;
}

header{
    background-color: white;     /* à changer */

    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

header > div:first-child,
header > div:first-child + div{
    display: grid;
    grid-template-columns: 2fr 1fr;


   /* border: 1px solid;    */      /* à supprimer */
}

header > div:first-child + div{
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0px 6px 6px -6px #222;
}

header > div:first-child > div,
header > div:first-child > ul,
header > div:first-child + div > ul{
    display: inline-flex;
    align-items: center;
}

header > div:first-child > div,
header > div:first-child + div > ul:first-child{
    justify-self: start;
    gap: 1em;
    width: 100%;
}

input[type=search]{
    width: 100%;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: whitesmoke;
}

header > div:first-child > ul,
header > div:first-child + div > ul:last-child{
    justify-self: end;
    gap: 30px;
}

header > div:first-child + div > ul:first-child > li:first-child > img{
    height: 40px;
}

header > div:first-child + div > ul:first-child > li:last-child > ul > li:first-child{
    font-size: 0.9em;
    font-weight: 500;
}

header > div:first-child + div > ul:first-child > li:last-child > ul > li:last-child{
    font-size: 1.2em;
    font-weight: 500;
}

button{
    width: 120px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: lightskyblue;
    cursor: pointer;
}


/*--------------- main -----------------------------*/

main{
    background-color: #CBD5E1 ; /* à changer ou enlever */
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    padding: 1.25em 2.5em;
    z-index: 1;
}

        /* --------- Social media -----------*/
main > .social-media{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

main > .social-media > div > div{
    border: 0.5px solid dashed;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px;
    
}

main h4{
    margin-bottom: 15px;
}

main > .social-media > div > div > .description > p{
    font-size: 0.8em;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: grey;
}

main > .social-media > div > div > .description:not(:last-child){
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

main > .social-media > div > div > .description:not(:last-child) > p,
main > .social-media > div > div > ul:not(:last-child){
    margin-bottom: 20px;
}

main > .social-media > div > div > ul{
    display: flex;
    gap: 20px;
}

main > .social-media > .trending > div > ul > li:last-child > ul > li:first-child{
    font-weight: 500;
}

main > .social-media > .trending > div > ul > li:last-child > ul > li:first-child + li{
    font-size: 0.9em;
    color: grey;
}

        /* --------- project -----------*/

main > .presentation > .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-right: 20px;
}

/*
main > .presentation > .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: max-content;
    gap: 20px;
    margin-right: 20px;
}*/

main > .presentation > .projects > .project{
    border: 0.5px solid dashed;
    background-color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border-left: 10px solid gold;
}


main > .presentation > .projects > .project > p{
    font-size: 1em;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: grey;
}

main > .presentation > .projects > .project > ul{
    display: flex;
    justify-content: end;
    gap: 25px;
    margin-top: 10px;
}